/* add your CSS here */
html {
    margin: 10px;
    border: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    box-shadow: 10px 10px lightgrey;
    width: 350px;
    padding: 10px;
}

img {
    width: 300px;
    height: 200px;
    padding: 10px 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

span {
    font-weight: bold;
}

.bio {
    border: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 0px 10px;
    width: 300px;
    height: auto;
}

.fact {
    font-style: italic;
  }